body { 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
}

.text-center {
    text-align: center;
    background-color:  #42A5F5;
}

.image-thumb {
    padding: 10px;
    border: solid 1px #42A5F5;
    height: 200px;
    width: 200px;
}

    .image-thumb a img {
        width: 100%;
    }

.likes p a img {
    height: 17px;
    width: 20px;
    float: right;
}

#images-list {
    list-style-type: none;
}

    #images-list li {
        float: left;
    }

#header {
    text-align: center;
}

    #header .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #42A5F5;
        width: 100%;
        border: solid 1px #0D47A1;
        margin-bottom: 5px;
    }

    #header .menu li {
        float: left;
    }

    #header .menu .align-right {
        float: right;
    }

    #header .menu li a {
        display: block;
        color: black;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-weight: bold;
    }

    #header .menu li a:hover {
        background-color: #0D47A1;
    }
    
#image-card {
    border: solid 1px #42A5F5;
    width: 500px;
    margin-left: 33%;
}

#image-card .body img{
    width: 100%;
}

#image-card .title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background-color: #42A5F5;
    
}

#image-card .footer table {
    width: 100%;
    border-top: solid 1px #42A5F5;
}

form {
    margin-left: 33%;
    width: 500px;
    padding: 10px;
    border: solid 1px #42A5F5;

}

.image-field img{
    width: 500px;
    height: 200px;
}

.form-field {
    margin-top: 10px;
}

#addPhoto .form-img-preview {
    min-width: 100%;
    height: 300px;
    border: solid 1px #0D47A1;
}


#addPhoto .form-img-preview img{
    width: 100%;
}

.form-field label {
    font-weight: 600;
}

.form-field input {
    width: 100%;
}

input[type="submit"] {
    margin-top: 50px;
}

#leave {
    font-size: 100px;
    margin-left: 5%;
    margin-top: 15%;
    font-family: cursive;
    color: #42A5F5;
}